.todo {
  min-width: 100%;
  min-height: 500px;
  height: 100%;
  transition: .5s;
}
.todo.todo-loading {
  opacity: .50;
}

.todo-item {
  background-color: #ffffff;
  border: 1px solid #e5e6e6;
  border-left: 4px solid #2F72DE;
  padding: 12px;
  margin: 16px;
  border-bottom: 1px solid #e5e6e6;
  display: flex;
  flex-direction: column;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo-item h2 {
  font-size: 1rem;
}


.todo-item h2, .todo-item p {
  margin: 0;
  transition: .3s;
}
.todo-item p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.todo-item.todo-completed {
  border-left: 4px solid #03CEA4;
}
.todo-item.todo-completed h2, .todo-item.todo-completed p {
  text-decoration: line-through;
  color: #a8a9aa;
}
.todo-item .todo-item-actions {
  display: flex;
}
.todo-item .btn img {
  width: 18px;
  height: 18px;
}

.todo-item.tarea-terminada h2, .todo-item.tarea-terminada p {
  text-decoration: line-through;
  opacity: .5;
}
.todo-item.tarea-terminada .btn {
  opacity: .5;
  pointer-events: none;
}

.todo-item p {
  font-size: 14px;
  line-height: 22px;
}

.todo-item-actions {
  margin-top: 8px;
}

.todo-item .btn {
  height: 42px;
  min-width: 42px;
  box-sizing: border-box;
  display: block;
  background: #F7F9FC;
  outline: none;
  border: none;
  padding: 12px 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #262EC9;
  margin-right: 12px;

  cursor: pointer;
  transition: .3s;
}
.todo-item .btn:disabled {
  opacity: .6;
}