.todo-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.todo {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: .5s;

  background-color: #f9faff;
  border-radius: 1rem;
}
.todo.todo-loading {
  opacity: .50;
}

.todo__title {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 24px;
  text-align: left;
  padding: 1.5rem 1rem;
  color: #172b4d;
  font-weight: 600;
}
.todo__title-badge {
  font-size: 14px;
  padding: 0 12px;
  border-radius: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  line-height: 1;
  color: rgb(47, 114, 222);
  background-color: rgb(47, 114, 222, .1);
  box-sizing: border-box;
  margin-left: .5rem;
}

.todo__list {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.todo__list::-webkit-scrollbar {
  width: 3px;
}
.todo__list::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.todo__list::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline-width: 0;
}