.select-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.select-field label {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.select-field select {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #172b4d;
  height: 32px;
  line-height: 32px;
  padding: 0 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  transition: border .5s ease;
  outline: none;
  background-color: transparent;
}

.select-field select:hover,
.select-field select:focus
{
  border: 1px solid rgba(23, 43, 77, .7);
}

.select-field.select-field--disabled select {
  background-color: #f0f0f0;
}
