.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  padding: 0px 1.625rem;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -1px 4px 11px -5px rgba(0,0,0,0.4);
}

.header h2 {
  font-size: 1.2rem;
  margin: 0;
}
.header h2 a {
  font-weight: 700;
  color: #172b4d;
}
.header h2 a span {
  font-weight: 300;
}

.header nav {
  display: flex;
  align-items: center;
}
.header nav .menu-item {
  background-color: transparent;
  color: #172b4d;
  outline: none;
  border: none;
  font-weight: 600;
  line-height: 38px;
  padding-inline: .625rem;
  padding-block: 0;
  border-radius: 4px;
  transition: background-color .5s ease;
}
.header nav  .menu-item:hover {
  background-color: rgba(23, 43, 77, .1);
}
.header nav button.btn-primary, .header nav  .menu-item {
  height: 38px;
  margin-left: .625rem;
}

.header .btn-primary {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #2F72DE;
  padding-inline: 12px;
  border-radius: 4px;
  border: none;
  border-bottom: 5px solid #21509B;
  cursor: pointer;
}