.text-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.text-field label {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.text-field input, .text-field textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #172b4d;
  height: 32px;
  line-height: 32px;
  padding: .625rem 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  transition: border .5s ease;
  outline: none;
}
.text-field textarea {
  height: calc(32px * 3);
  resize: none;
}
.text-field input:hover,
.text-field input:focus,
.text-field textarea:hover,
.text-field textarea:focus
{
  border: 1px solid rgba(23, 43, 77, .7);
}

.text-field.text-field--disabled input, .text-field.text-field--disabled textarea {
  background-color: #f0f0f0;
}